{% extends 'default.html' %}

{% block title %}Объявления{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for ad in ads %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ ad.title }}</h5>
                    <p class="card-text">{{ ad.content|truncatechars:100 }}</p>
                    <a href="{% url 'ads_detail' pk=ad.id %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
