{% extends 'default.html' %}

{% block content %}
  <h1>Отклики на мои объявления</h1>
<form action="" method="get">
       {{ filter.form.as_p }}
    <button type="submit">Применить фильтр</button>
    <button type="submit" name="clear">Сбросить фильтры</button>
</form>
    <ul>
      {% for response in responses %}
        <li>
          <p>Объявление: <a href="{% url 'ads_detail' pk=response.ad.id %}">{{ response.ad.title }}</a></p>
          <p>Пользователь: {{ response.user_profile }}</p>
          <p>Отправлен: {{ response.created_at }}</p>
          <p>Сообщение: {{ response.content }}</p>
        <br>
      </li>
      {% empty %}
          <p>У ваших объявлений нет откликов.</p>
      {% endfor %}

    </ul>
{% endblock %}
