{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
    Submit Response
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
        <div class="alert alert-info" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Подтвердите отправку отклика</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Параметры объявления</p>
                    <p class="card-text">Выложил: {{ ad.user_profile }}</p>
                    <p class="card-text">Заголовок: {{ ad.title }}</p>
                    <p class="card-text">Содержимое: {{ ad.content|limit_content:100 }}</p>

                    <form method="post" action="{% url 'submit_response' ad.id %}">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                        <button type="button" class="btn btn-secondary ml-2" onclick="goBack()">Отмена</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
